
// See here example
// https://github.com/quarto-dev/quarto-cli/tree/main/src/resources/formats/html/bootstrap/themes


/*-- scss:defaults --*/

.reveal .slide ul,
.reveal .slide ol {
    margin-left: 1.3em;
}


svg#mindmap.root {
    width: 2000px;
    height: 2000px;
}

// .markmap.html-widget.html-fill-item-overflow-hidden.html-fill-item.html-widget-static-bound {
//     width: 2000px;
//     height: 2000px;
// }
